body{
    background: white;
    text-align: center;
}
.contact-form{
    background: white;
    margin-top: 30px;
    margin-bottom: 5%;
    width: 100%;
    text-align: center;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: black;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}
