.nav{
  margin-top: 40px;
}

.form-group{
  margin-top: 15px;
}

.tab-content>.active {
  margin-top: 15px;
}

.table{
  margin-top: 30px;
}


table {
    margin-top: 30px;
    font-family: sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table > thead > tr > th{
    border-top: 1px solid #dddddd;
}

td, th {
    border-top: 2px solid #dddddd;
    text-align: center;
    padding: 10px;
}

table tbody tr th{
  font-weight: normal;
}

div.media > img{
  width: 20%;
  padding: 5px;
  border: 1px solid darkorange;
}

h5{
  font-size: 15px;
  text-decoration: underline;
  font-family: arial;
}

div.media-body{
  margin-left: 10px;
}

p.item-description{
  font-family: sans-serif;
  font-size: 10px;
}
