    .order-now-button{
      margin: 40px 0px;
    }

    .trust-icons{
      background-color: white;
      padding-bottom: 15px;
      padding-top: 15px;
    }

    .trust-icons > h5{
      color: black;
      font-family: 'Staatliches', serif;
    }

    .carousel-item{
      height: auto;
    }

    #carouselExampleIndicators{
      width: 100%;
      height: 50%;
    }

    .get-your-food{
      padding-top: 10px;
    }

    .get-your-food > h3 {
      font-family: 'Staatliches', serif;
    }

    .free-delivery-food {
      padding-top: 20px;
      font-family: 'Staatliches', serif;
      color: black;
    }

    #free-delivery-color-change {
      color:red;
    }

    .footer {
      padding-top: 30px;
    }
    .footer a{
      color: black;
    }

    .footer a:hover{
      color: blue;
    }

  @media (min-width: 992px) {
    #footer-homepage{
      padding-left: 2550px;
    }
    #footer-copyright{
      padding-right: 70px;
    }
    .carousel-item{
      background-size: cover;
      background-position: center;
      height: 700px;
    }
    #carouselExampleIndicators{
      width: 100%;
      height: 700px;
    }

    .free-delivery-food{
      display: none;
    }
  }

  @media (min-width: 768px){

    #footer-homepage{
      padding-left: 30px;
    }
    .carousel-item{
      align-items: center;
      height: 700px;
    }

    #carouselExampleIndicators{
      width: 100%;
      height: 700px;
    }

    .free-delivery-food{
      display: none;
    }
  }
